body {
    background-color: #f7f9fc;
    display: flex;
}

.sidebar {
    height: 100vh;
    max-width: 240px;
    padding: 1.5em;
    position: sticky;
    z-index: 99;
    background-color: #f7f9fc;
    top: 0;

    .btn-collapse::after {
        font-family: "bootstrap-icons";
        content: "\F284";
    }

    .btn-collapse.collapsed::after {
        content: "\F285";
    }

    ul {
        list-style-type: none;
        padding: 0;

        h6 {
            color: #5c6471;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .btn-next,
    .btn-collapse {
        color: white;
        background-color: #035c8c;

        &:hover {
            color: white;
            background-color: #555;
        }
    }
}

.game {
    width: 100%;

    .title {
        color: #035c8c;
        font-weight: 600;
    }

    .game-container {
        padding: 1.5em 1.5em 0 1.5em;
        //height: 100%;
        background-color: #AECBDC;
        border-radius: 16px 0 0 0;

        .game-body {
            //height: 100%;

            .game-card {
                width: 400px;
                height: 520px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 1em;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #035c8c;
                    border: 5px solid white;
                    border-radius: 9999px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }
        }
    }
}
